.DetailedCharacter {
  background: var(--text-dark);
  padding: 0 120px;
  height: 100vh;

  &__container {
    display: flex;
    position: relative;
    top: 63px;
    background: #2a2a42;
    border-radius: 12px;
    padding-top: 40px;
  }

  &__textBox {
    display: flex;
  }

  &__imageContainer {
    margin: 0 40px;
    vertical-align: top;
  }

  &__image {
    background: #0a0a28;
    width: 282px;
    height: 282px;
    border-radius: 12px;
  }

  &__infoLabel {
    color: #9b9cab;
    margin: 0;
  }

  &__infoValue {
    margin: 0 0 16px 0;
  }

  &__mainInfo {
    margin-right: 48px;
  }

  &__links {
    position: absolute;
    margin: 24px 0;
  }

  &__link {
    color: var(--cta);
    margin-right: 20px;
    text-decoration: none;

    &_active {
      color: white;
      opacity: 50%;
    }
  }

  &__title {
    color: white;
    font-size: 56px;
    font-weight: 700;
  }

  &__textField {
    margin-bottom: 16px;
  }
}

.Description {
  &__tag {
    display: flex;
    margin: 16px 0 40px 0;
  }
}

.Header__search {
  margin: 32px 0;
  box-shadow: 0 -2px 24px 0 #e5e5e5;
  width: 560px;
  height: 56px;
}
