.DetailedCharacter{
  background: var(--text-dark);

  &__container{
    display: flex;
    height: 100vh;
  }

  &__textBox{
    display: flex;
  }

  &__imageContainer{
    //display: flex;
    margin: 40px;
    vertical-align: top;
    border-radius: 12px;
  }

  &__image{
    background: #0A0A28;
  }

  &__infoLabel{
    color: #9b9cab;
    margin: 0;
  }

  &__infoValue{
    margin: 0 0 16px 0;
  }

  &__mainInfo {
      margin-right: 48px;
    }

  &__links{
    margin: 24px 0;
  }

  &__link{
    &_active{
      color: var(--cta)
    }
  }

  &__title{
    color: white;
  }

  &__textField{
    margin-bottom: 16px;
  }
}

.Description{
  &__tag{
    display: flex;
  }
}