:root {
  --cta: #3f8bfd;
  --text-dark: #0a0a28;
  --card-bg: #2a2a42;
  --text-light: white;
  --dark-gray: #bfc1d3;
  --bg-light: #f3f7fd;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
